<div class="col-12 w-full fadeinleft animation-duration-5000">
    
    <div class="field col-12 md:col-6 flex justify-content-center text-4xl">
        Hello, I am Jonathan Josue
    </div>
    <div class="field col-12 md:col-6 flex justify-content-center font-italic text-2xl" style="color: green;">
        FullStack Software Developer
    </div>
    <div class="col-6 flex justify-content-center font-italic text-1xl">
        +1 year of experience as a Full Stack Software Developer. Experience in the design, development and implementation of 
        innovative technological solutions. My focus is on creating scalable, high-quality products that meet the needs of our users.
    </div>
    
</div>